@font-face {
  font-family: "Space Mono";
  src: url("SpaceMono-Bold.woff2") format("woff2"), url("SpaceMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1106px;
  margin: 0 auto;
  padding: 42px 70px;
}

.navbar__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__elements {
  display: flex;
  align-items: center;
  gap: 58px;
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 32px;
}

.list-item a {
  font-family: "Space Mono";
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  color: #939CAA;
  text-decoration: none;
}

.btn1 {
  font-family: "Space Mono";
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  color: white;
  background-color: #FCB72B;
  border: none;
  padding: 14px 39px;
  border-radius: 5px;
  cursor: pointer;
}
.btn1:hover {
  background-color: #d8b673;
}

#check {
  display: none;
}

.menu__btn {
  display: none;
}

@media screen and (max-width: 1024px) {
  .str__small {
    display: none;
  }
  .str__big {
    position: absolute;
    left: 0;
  }
  .hero {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .takes {
    margin-top: 24px;
  }
  .btn2 {
    margin-top: 32px;
  }
  .str__big {
    position: absolute;
    left: -160px;
  }
  .simple {
    margin-left: 70px;
  }
}
@media screen and (max-width: 767px) {
  .list-item a {
    color: white;
  }
  .nav__list {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    background: linear-gradient(135deg, orange 60%, cyan);
    width: 40%;
    height: 60vh;
    transform: translateX(-100%);
    transition: all 0.4s ease-in;
  }
  .logo__img {
    z-index: 9999;
  }
  #check:checked + .nav__list {
    transform: translateX(0);
  }
  .btn1 {
    display: none;
  }
  .menu__btn {
    display: block;
  }
  .logo__img {
    width: 75px;
  }
}
.hero {
  height: 650px;
  background-image: url("../images/bg__img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.strel {
  display: flex;
  align-items: center;
  gap: 47px;
}

.simple {
  font-family: "Space Mono";
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -2.5px;
  max-width: 500px;
  color: white;
}

.takes {
  font-family: " Lexend Deca";
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  max-width: 320px;
  color: white;
}

.str__big {
  margin-top: 150px;
}

.str__small {
  margin-left: -160px;
}

.btn2 {
  font-family: "Space Mono";
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  color: white;
  background-color: #FCB72B;
  border: none;
  padding: 14px 39px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 90px;
}
.btn2:hover {
  background-color: #d8b673;
}
.btn2 .str__small {
  display: none;
}

@media screen and (max-width: 1024px) {
  .hero__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;
  }
  .simple {
    margin-right: 100px;
  }
  .str__big {
    margin-bottom: -350px;
  }
  .takes {
    text-align: center;
    margin-right: 30px;
  }
  .btn2 {
    margin-right: 100px;
  }
}
@media screen and (max-width: 767px) {
  .simple {
    font-family: "Space Mono";
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    margin: 0;
  }
  .takes {
    margin: 0;
    margin-top: 24px;
  }
  .str__big {
    display: none;
  }
  .btn2 {
    margin: 0;
    margin-top: 32px;
  }
  .hero {
    background-position: right;
    background-size: cover;
  }
}
.services {
  margin-top: 160px;
}

.line {
  position: absolute;
  margin-top: -222px;
  margin-left: -200px;
  width: 900px;
  height: 15px;
  border: solid #E5ECF4;
  background-color: #E5ECF4;
}

.services__wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
}

.locate {
  font-family: "Space Mono";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #495567;
  margin-top: 40px;
}

.locate__p {
  font-family: "Lexend Deca";
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  max-width: 500px;
  margin-top: 27px;
  color: #939CAA;
}

.box1 {
  z-index: 9999;
}

@media screen and (max-width: 1024px) {
  .services {
    margin-top: 90px;
  }
  .services__wrapper {
    display: flex;
    flex-direction: column;
  }
  .box1 {
    display: flex;
    align-items: center;
    gap: 79px;
  }
  .box__elem {
    display: flex;
    flex-direction: column;
  }
  .locate__p {
    max-width: 398px;
  }
  .line {
    margin-top: -130px;
    height: 700px;
    width: 15px;
    margin-left: -475px;
  }
}
@media screen and (max-width: 767px) {
  .box1 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    text-align: center;
  }
  .locate__p {
    max-width: 311px;
  }
  .line {
    display: none;
  }
}
.subscribe__wrapper {
  display: flex;
  flex-direction: column;
}

.subscribe__elem {
  margin-top: 160px;
  display: flex;
}

.subscribe__elem_img {
  margin-top: 160px;
  display: flex;
}

.subscribe__elem__img {
  margin-top: 160px;
  display: flex;
  gap: 300px;
}

.subscribe__elem233 {
  margin-top: 250px;
  display: flex;
  align-items: center;
}

.subscribe__elem2 {
  margin-top: 160px;
  display: flex;
  gap: 600px;
}

.subs__elem33 {
  margin-left: 100px;
}

.btn3 {
  font-family: "Space Mono";
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  color: white;
  background-color: #FCB72B;
  border: none;
  padding: 14px 39px;
  cursor: pointer;
  margin-top: 40px;
}
.btn3:hover {
  background-color: #d8b673;
}

.easy {
  font-family: "Space Mono";
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: #495567;
  max-width: 350px;
}

.easy__p {
  font-family: " Lexend Deca";
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #939CAA;
  max-width: 370px;
  margin-top: 24px;
}

.easy1 {
  font-family: "Space Mono";
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.1428570747px;
  max-width: 700px;
  color: #495567;
}

.img__girl33 {
  display: flex;
}

.img__girl3 {
  margin-left: 150px;
  border-radius: 300px;
}

.yumaloq {
  position: absolute;
  margin-left: 350px;
  margin-top: 140px;
}

.str1 {
  width: 560px;
  position: absolute;
  margin-top: 300px;
}

.str2 {
  width: 500px;
  margin-bottom: -250px;
  position: absolute;
  margin-left: -300px;
}

@media screen and (max-width: 1024px) {
  .subscribe__elem {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
  }
  .subscribe__elem_img {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 150px;
    gap: 64px;
  }
  .subscribe__elem__img {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .subs__elem3__k {
    text-align: center;
    margin-top: -250px;
  }
  .subs__elem3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .subs__elem33 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    margin-right: 90px;
  }
  .easy1 {
    max-width: 400px;
  }
  .subscribe__elem2 {
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0px;
    margin-top: 100px;
  }
  .subs__elem323 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
  }
  .subscribe__elem2 {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    margin-top: 50px;
  }
  .subscribe__elem233 {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 150px;
    align-items: center;
  }
  .img__girl3 {
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .girl {
    width: 311px;
  }
  .str1 {
    width: 350px;
    margin-top: 200px;
  }
  .city {
    width: 311px;
  }
  .img__girl3 {
    width: 311px;
    margin-left: -30px;
  }
  .subs__elem33 {
    margin: 0;
  }
  .subscribe__elem {
    margin-top: 50px;
  }
  .subs__elem3 {
    margin-top: 250px;
  }
  .subscribe__elem {
    display: flex;
    flex-direction: column-reverse;
  }
  .subs__elem3 {
    margin: 0;
  }
  .yumaloq {
    width: 311px;
    margin: 0;
    margin-top: 150px;
  }
}
.footer {
  margin-top: 250px;
  height: 300px;
  background-image: url("../images/Mask.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top, center;
}

.today {
  display: flex;
  align-items: center;
  gap: 200px;
  margin-top: 50px;
}

.sign {
  font-family: "Space Mono";
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: white;
  max-width: 400px;
}

.nav__elements2223 {
  display: flex;
  align-items: center;
  gap: 58px;
}

.footer__navbar {
  height: 100px;
  background-color: #333A44;
}

.nav__list2 {
  list-style: none;
  display: flex;
  gap: 32px;
}

.list-item2 a {
  font-family: "Space Mono";
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  color: #939CAA;
}

.mesenger {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: 395px;
}

.download_btn {
  display: flex;
  gap: 18px;
}

.mees {
  cursor: pointer;
}

.today a {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .today {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
  }
  .sign {
    text-align: center;
  }
  .mesenger {
    margin-left: 150px;
  }
}
@media screen and (max-width: 767px) {
  .sign {
    max-width: 411px;
    font-family: "Space Mono";
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
  }
  .footer__navbar {
    height: 438px;
  }
  .nav__elements2223 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .nav__list2 {
    display: flex;
    flex-direction: column;
  }
  .mesenger {
    margin: 0;
  }
  .btn__play {
    width: 100px;
  }
  .appp {
    width: 135px;
  }
  .playy {
    width: 165px;
  }
}/*# sourceMappingURL=main.css.map */