.popular {
    margin-top: 100px;
}

.elem__2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.most {
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    color:#333333;
}

.star {
    padding: 8px 16px;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: white;
    background-color: #09B451;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    &:hover {
        border: 1px solid #09B451;
        background-color: white;
        color: #09B451;
        .strel12 {
            display: none;
        }
    }
}

.boxs__elem {
    margin-top: 66px;
}

.box {
    width: 392px;
    height: 405px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #CBCBCB40;

}

.img__people {
    border-radius: 10px 10px 0px 0px ;
} 

.boxss {
    padding: 24px;
}

.boxs__element6 {
    display: flex;
    align-items: center;
    gap: 22px;
    flex-wrap: wrap;
}

.learn {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 250px;
    color: #333333;
}

.elem__22 {
    display: flex;
    align-items: center;
}

.star__2 {
    display: flex;
    gap: 3px;
}

.elem__33 {
    margin-top: 42px;
    display: flex;
    gap: 16px;
}

.week {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #333333;
}   

.student {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #333333;
}

.money {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #09B451;
    margin-left: 66px;
}

.sec2 {
    margin-top: 100px;
}

.learn2 {
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    color: #333333;
}

.boxs__element62 {
    display: flex;
    gap: 32px;
    overflow: scroll;
}